{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/WEBSITE STYLE SHEET.CSS'%}"/>
    <title>Ador Page</title>
</head>
<body>
    <a class="backbutton2" href = "/about">BACK</a>
    <img class= "imageL" src= "{% static 'static/images/ador.jpg' %}">
    <p class = "nameL">CLYDE TIMOTHY ADOR</p>
    <p class = "infoAns">Yo! My name's Clyde, and I'm on my first year of the BSCS course at</p> 
    <p class = "infoAns">CIIT College of Arts and Technology.</p>
    <p class = "infoAns">I helped with the back-end of this web app so if you have any comments,</p>
    <p class = "infoAns">you can reach out to me through my school email (clyde.ador@ciit.edu.ph).</p>
</body>
</html>