{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/WEBSITE STYLE SHEET.CSS'%}"/>
    <title>Explore</title>
</head>
<body>
    <img class = "ciitlogo" src = "{% static 'static/images/CIIT-logo.png' %}">
    <a class="explorebutton" href = "/explore">RETURN</a>
    <a class="floordown" href = "/floor4">FLOOR DOWN</a>
    <a class="floorup" href = "/floor6">FLOOR UP</a>
    <iframe width="90%" height="500px" allowFullScreen="true" allow="accelerometer; magnetometer; gyroscope" style="display:block; margin:20px auto; border:0 none; max-width:880px;border-radius:8px; box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);" src="https://panoraven.com/en/embed/thtwrNZP6l"></iframe>
    <p><br><br><br><br><br><br><br><br><br></p>
    <div style="text-align: center;"><img width="500" height="707" src = "{% static 'static/images/classroomplan.jpg' %}"></div>
</body>
</html>