{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/css/WEBSITE STYLE SHEET.CSS' %}" >
    <meta charset="UTF-8">
    <title>CIITouring Map</title>
</head>
<body>
    <video autoplay loop muted plays-inline class = "back-video">
        <source src = "{% static 'static/images/bgvid.mp4'%}" type = "video/mp4">
    </video>
    <img class = "ciitlogo" src = "{% static 'static/images/CIIT-logo.png' %}">
    <img class = "ciitouring" src = "{% static 'static/images/CIITouring Map.png' %}">
        <a class="homebutton" href = "https://ciit.edu.ph/contact-us/">NEED HELP?</a>
        <a class="homebutton2" href = "explore" >EXPLORE</a>
        <a class="homebutton3" href = "about" >ABOUT US </a>
        <div class = "contentmp"><p>Hello there! Welcome to CIITouring Map, a web app that lets you explore<br> <br> <br> <br>the CIIT Interweave building, wherever you are!<br> <br> <br> <br> To start exploring, click the 'EXPLORE' button above.</p></div>
</body>
</html>