{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/WEBSITE STYLE SHEET.CSS'%}"/>
    <title>Tripolca Page</title>
</head>
<body>
    <a class="backbutton2" href = "/about">BACK</a>
    
    <img class= "imageL" src= "{% static 'static/images/maravilla.jpg' %}">
    <p class = "nameL">JON MAYTRIX JOAQUIN MARAVILLA</p>
    <p class = "infoAns">Hello! My name is Jon Maytrix.</p>
    <p class = "infoAns">Right now, I am in my first year of the BSCS course </p> 
    <p class = "infoAns"> in CIIT College of Arts and Technology.</p>
    <p class = "infoAns">I helped with the back-end of the site so if you have any suggestions,</p>
    <p class = "infoAns">you can reach out to me through my school email (jon.maravilla@ciit.edu.ph).</p>
</body>
</html>