{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/WEBSITE STYLE SHEET.CSS'%}"/>
    <title>Tripolca Page</title>
</head>
<body>
    <a class="backbutton2" href = "/about">BACK</a>
    
    <img class= "imageL" src= "{% static 'static/images/tripolca.jpg' %}">
    <p class = "nameL">JAN CHRISTIANSEN TRIPOLCA</p>
    <p class = "infoAns">Hello! My name is written above, though people just call me by my last name.</p>
    <p class = "infoAns">As of writing, I am 18 years old and in my first year of the BSCS course </p> 
    <p class = "infoAns"> in CIIT College of Arts and Technology.</p>
    <p class = "infoAns">I did the HTML and CSS part of the web app so if you think it's ugly or needs improvement,</p>
    <p class = "infoAns">you can reach out to me through my school email (jan.tripolca@ciit.edu.ph).</p>
</body>
</html>